site_name: media-trend-analysis-agent
repo_url: https://github.com/Paraschamoli/media-trend-analysis-agent
site_url: https://Paraschamoli.github.io/media-trend-analysis-agent
site_description: An AI agent that tracks and analyzes emerging media trends, topics, and sentiment across digital platforms in real time.
site_author: Paras Chamoli
edit_uri: edit/main/docs/
repo_name: Paraschamoli/media-trend-analysis-agent
copyright: Maintained by <a href="https://Paraschamoli.com">Paraschamoli</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/media_trend_analysis_agent"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Paraschamoli/media-trend-analysis-agent
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/media-trend-analysis-agent

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
