openapi: 3.1.0
info:
  title: Media Trend Analysis Agent API
  description: |
    An AI agent that analyzes emerging media trends using Exa semantic search and Firecrawl 
    content extraction. Searches recent content (configurable lookback period, default 30 days), 
    extracts key themes, identifies sources, and generates structured markdown reports.

    Implements the A2A Protocol with JSON-RPC 2.0 methods for agent communication, task
    management, context management, DID resolution, and payment processing.

    ## Why Task-First Architecture?

    This API follows Bindu's **Task-First Agent Pattern** - every interaction creates a trackable task.
    This isn't just about async operations; it enables:

    **Asynchronous Processing**
    - Media trend analysis can take 15-30 seconds depending on query scope
    - Tasks run in the background while you poll for completion
    - No blocking waits - check status when convenient

    **Parallel Execution**
    - Multiple trend analysis tasks can run simultaneously with unique task IDs
    - Example: Analyze AI trends while tracking EV market coverage in parallel

    **Dependency Management**
    - Use `referenceTaskIds` to chain tasks together
    - Later tasks can reference earlier task results
    - Build complex workflows: Task A → Task B (depends on A) → Task C (depends on B)

    **Context Continuity**
    - Multiple tasks share the same `contextId` for conversation history
    - Maintain context across a series of related requests

    This aligns with the A2A Protocol's "Task-only Agent" pattern where **all responses are Task objects**,
    enabling orchestration at scale.

    **Learn more:** [Task-First Pattern Documentation](https://docs.getbindu.com/bindu/concepts/task-first-pattern)

    ## Getting Started

    ### Authentication
    All JSON-RPC requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer YOUR_TOKEN_HERE
    ```

    ### Basic Workflow (Async Task Pattern)

    This API uses an **asynchronous task pattern**. When you send a message, you receive a task ID
    and must poll for completion:

    **Step 1: Send a message** (creates a task)
    ```bash
    curl -X POST https://media-trend-analysis-agent.bindu-agents.bindus.directory \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -d '{
        "jsonrpc": "2.0",
        "method": "message/send",
        "params": {
          "message": {
            "role": "user",
            "parts": [{"kind": "text", "text": "Analyze media trends around generative AI over the past 7 days"}],
            "kind": "message",
            "messageId": "a61eab10-033f-41af-b187-c93cb1e91001",
            "contextId": "a61eab10-033f-41af-b187-c93cb1e91002",
            "taskId": "a61eab10-033f-41af-b187-c93cb1e91003"
          },
          "configuration": {
            "acceptedOutputModes": ["application/json"]
          }
        },
        "id": "a61eab10-033f-41af-b187-c93cb1e91004"
      }'
    ```
    Response: Task with `"state": "submitted"`

    **Step 2: Poll for task status** (check if working/completed)
    ```bash
    curl -X POST https://media-trend-analysis-agent.bindu-agents.bindus.directory \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -d '{
        "jsonrpc": "2.0",
        "method": "tasks/get",
        "params": {"taskId": "a61eab10-033f-41af-b187-c93cb1e91003"},
        "id": "a61eab10-033f-41af-b187-c93cb1e91005"
      }'
    ```
    Response: Task with `"state": "working"` or `"state": "completed"`

    **Step 3: Get results** (when state is "completed")
    The completed task includes:
    - `history`: Full conversation history (user message + assistant response)
    - `artifacts`: Structured results with the final markdown report

    ### Available JSON-RPC Methods

    - **message/send** - Send a message and create a new task
    - **tasks/get** - Get task details by ID (use for polling)
    - **tasks/list** - List all tasks with pagination
    - **tasks/cancel** - Cancel a running task
    - **tasks/feedback** - Submit feedback for a completed task
    - **contexts/list** - List conversation contexts
    - **contexts/clear** - Clear a conversation context

    ### Task States

    - `submitted` - Task created, not yet started
    - `working` - Task is being processed
    - `completed` - Task finished successfully (check artifacts for results)
    - `failed` - Task encountered an error
    - `canceled` - Task was canceled by user
    - `input-required` - Task needs additional input from user

    ### Advanced: Parallel Execution & Task Chaining

    **Running Multiple Tasks in Parallel:**
    ```bash
    # Create Task 1 - Analyze AI trends
    curl -X POST ... -d '{"method": "message/send", "params": {"message": {"taskId": "task-1", ...}}}'

    # Create Task 2 - Analyze EV trends (runs in parallel with Task 1)
    curl -X POST ... -d '{"method": "message/send", "params": {"message": {"taskId": "task-2", ...}}}'

    # Poll both tasks independently
    curl -X POST ... -d '{"method": "tasks/get", "params": {"taskId": "task-1"}}'
    curl -X POST ... -d '{"method": "tasks/get", "params": {"taskId": "task-2"}}'
    ```

    **Chaining Tasks with Dependencies:**
    ```bash
    # Task 1: Analyze AI trends
    curl -X POST ... -d '{
      "method": "message/send",
      "params": {
        "message": {
          "taskId": "a61eab10-033f-41af-b187-c93cb1e91003",
          "parts": [{"text": "Analyze media trends around AI in the past week"}]
        }
      }
    }'

    # Wait for Task 1 to complete, then create Task 2 that references it
    curl -X POST ... -d '{
      "method": "message/send",
      "params": {
        "message": {
          "taskId": "a61eab10-033f-41af-b187-c93cb1e91004",
          "referenceTaskIds": ["a61eab10-033f-41af-b187-c93cb1e91003"],
          "parts": [{"text": "Compare these trends with electric vehicle coverage"}]
        }
      }
    }'
    ```

    ### Example Use Cases

    - "Analyze the current media trends around generative AI over the past 7 days"
    - "Track emerging media trends related to electric vehicle companies in the last 5 days"
    - "What are the top emerging topics in technology sector this week?"
    - "Identify key sources and sentiment around climate change discussions"
  version: 1.0.0
servers:
  - url: https://media-trend-analysis-agent.bindu-agents.bindus.directory
    description: Production server
security:
  - bearerAuth: []
paths:
  /:
    post:
      summary: JSON-RPC 2.0 endpoint
      description: |
        All JSON-RPC methods are sent as POST requests to this endpoint.

        **Available Methods:**
        - `message/send` - Send a message and create a new task
        - `tasks/get` - Get task details by ID (use for polling)
        - `tasks/list` - List all tasks
        - `tasks/cancel` - Cancel a running task
        - `tasks/feedback` - Submit feedback for a task
        - `contexts/list` - List conversation contexts
        - `contexts/clear` - Clear a conversation context

        **Async Task Pattern:**
        1. Call `message/send` to create a task (returns with state "submitted")
        2. Poll `tasks/get` until state changes to "completed" (or "failed")
        3. Extract results from the `artifacts` array in the completed task
      operationId: jsonRpc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              messageSend:
                summary: Send a message (Step 1 - Create Task)
                description: Creates a new media trend analysis task
                value:
                  jsonrpc: "2.0"
                  method: "message/send"
                  params:
                    message:
                      role: "user"
                      parts:
                        - kind: "text"
                          text: "Analyze the current media trends around generative AI over the past 7 days"
                      kind: "message"
                      messageId: "a61eab10-033f-41af-b187-c93cb1e91001"
                      contextId: "a61eab10-033f-41af-b187-c93cb1e91002"
                      taskId: "a61eab10-033f-41af-b187-c93cb1e91003"
                    configuration:
                      acceptedOutputModes:
                        - "application/json"
                  id: "a61eab10-033f-41af-b187-c93cb1e91004"
              tasksGet:
                summary: Get task status (Step 2 - Poll for Completion)
                description: Check if the task is completed and retrieve results
                value:
                  jsonrpc: "2.0"
                  method: "tasks/get"
                  params:
                    taskId: "a61eab10-033f-41af-b187-c93cb1e91003"
                  id: "a61eab10-033f-41af-b187-c93cb1e91005"
              tasksList:
                summary: List all tasks
                description: Get a paginated list of all tasks
                value:
                  jsonrpc: "2.0"
                  method: "tasks/list"
                  params:
                    limit: 10
                    offset: 0
                  id: "a61eab10-033f-41af-b187-c93cb1e91006"
              tasksCancel:
                summary: Cancel a task
                description: Cancel a running or submitted task
                value:
                  jsonrpc: "2.0"
                  method: "tasks/cancel"
                  params:
                    taskId: "a61eab10-033f-41af-b187-c93cb1e91003"
                  id: "a61eab10-033f-41af-b187-c93cb1e91007"
      responses:
        '200':
          description: Successful JSON-RPC response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
              examples:
                messageSendSubmitted:
                  summary: Task created (state = submitted)
                  description: Initial response after sending a message
                  value:
                    jsonrpc: "2.0"
                    id: "a61eab10-033f-41af-b187-c93cb1e91004"
                    result:
                      id: "a61eab10-033f-41af-b187-c93cb1e91003"
                      context_id: "a61eab10-033f-41af-b187-c93cb1e91002"
                      kind: "task"
                      status:
                        state: "submitted"
                        timestamp: "2026-02-27T12:27:29.280175+00:00"
                      history:
                        - kind: "message"
                          role: "user"
                          parts:
                            - kind: "text"
                              text: "Analyze the current media trends around generative AI over the past 7 days"
                          task_id: "a61eab10-033f-41af-b187-c93cb1e91003"
                          context_id: "a61eab10-033f-41af-b187-c93cb1e91002"
                          message_id: "a61eab10-033f-41af-b187-c93cb1e91001"
                      artifacts: []
                      metadata: {}
                tasksGetWorking:
                  summary: Task in progress (state = working)
                  description: Response when polling a task that is still processing
                  value:
                    jsonrpc: "2.0"
                    id: "a61eab10-033f-41af-b187-c93cb1e91005"
                    result:
                      id: "a61eab10-033f-41af-b187-c93cb1e91003"
                      context_id: "a61eab10-033f-41af-b187-c93cb1e91002"
                      kind: "task"
                      status:
                        state: "working"
                        timestamp: "2026-02-27T12:27:35.425656+00:00"
                      history:
                        - kind: "message"
                          role: "user"
                          parts:
                            - kind: "text"
                              text: "Analyze the current media trends around generative AI over the past 7 days"
                          task_id: "a61eab10-033f-41af-b187-c93cb1e91003"
                          context_id: "a61eab10-033f-41af-b187-c93cb1e91002"
                          message_id: "a61eab10-033f-41af-b187-c93cb1e91001"
                      artifacts: []
                      metadata: {}
                tasksGetCompleted:
                  summary: Task completed (state = completed)
                  description: Final response with results in artifacts array
                  value:
                    jsonrpc: "2.0"
                    id: "a61eab10-033f-41af-b187-c93cb1e91005"
                    result:
                      id: "a61eab10-033f-41af-b187-c93cb1e91003"
                      context_id: "a61eab10-033f-41af-b187-c93cb1e91002"
                      kind: "task"
                      status:
                        state: "completed"
                        timestamp: "2026-02-27T12:27:46.375344+00:00"
                      history:
                        - kind: "message"
                          role: "user"
                          parts:
                            - kind: "text"
                              text: "Analyze the current media trends around generative AI over the past 7 days"
                          task_id: "a61eab10-033f-41af-b187-c93cb1e91003"
                          context_id: "a61eab10-033f-41af-b187-c93cb1e91002"
                          message_id: "a61eab10-033f-41af-b187-c93cb1e91001"
                        - kind: "message"
                          role: "assistant"
                          parts:
                            - kind: "text"
                              text: "# Media Trend Analysis Report\n\n## Executive Summary\nOver the past week, generative AI has seen significant media attention..."
                          task_id: "a61eab10-033f-41af-b187-c93cb1e91003"
                          context_id: "a61eab10-033f-41af-b187-c93cb1e91002"
                          message_id: "258b7631-ebe1-4734-ad9e-e4ccaaff88ec"
                      artifacts:
                        - name: "result"
                          parts:
                            - kind: "text"
                              text: "# Media Trend Analysis Report\n\n## Executive Summary\nOver the past week, generative AI has seen significant media attention..."
                          artifact_id: "8de0463c-ff2f-44c8-aac9-9eed78559064"
                      metadata: {}
        '400':
          description: Invalid JSON-RPC request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
              example:
                jsonrpc: "2.0"
                id: "a61eab10-033f-41af-b187-c93cb1e91004"
                error:
                  code: -32600
                  message: "Invalid Request"
        '401':
          description: Unauthorized - missing or invalid bearer token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: "Unauthorized"
      security:
        - bearerAuth: []
      x-code-samples:
        - lang: 'curl'
          label: 'Step 1: Send Message'
          source: |
            curl --location 'https://media-trend-analysis-agent.bindu-agents.bindus.directory' \
            --header 'Content-Type: application/json' \
            --header 'Authorization: Bearer YOUR_TOKEN_HERE' \
            --data '{
              "jsonrpc": "2.0",
              "method": "message/send",
              "params": {
                "message": {
                  "role": "user",
                  "parts": [
                    {
                      "kind": "text",
                      "text": "Analyze the current media trends around generative AI over the past 7 days"
                    }
                  ],
                  "kind": "message",
                  "messageId": "a61eab10-033f-41af-b187-c93cb1e91001",
                  "contextId": "a61eab10-033f-41af-b187-c93cb1e91002",
                  "taskId": "a61eab10-033f-41af-b187-c93cb1e91003"
                },
                "configuration": {
                  "acceptedOutputModes": [
                    "application/json"
                  ]
                }
              },
              "id": "a61eab10-033f-41af-b187-c93cb1e91004"
            }'
  '/.well-known/agent.json':
    get:
      summary: Get Agent Card
      description: Returns the agent's metadata card following the A2A Protocol specification.
      operationId: getAgentCard
      responses:
        '200':
          description: Agent card retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCard'
      security: []
  '/did/resolve':
    post:
      summary: Resolve DID
      description: Resolves a Decentralized Identifier (DID) to its W3C-compliant DID document.
      operationId: resolveDid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - did
              properties:
                did:
                  type: string
                  description: The DID to resolve
                  example: 'did:bindu:paras_at_getbindu_com:media-trend-analysis-agent:abc123'
      responses:
        '200':
          description: DID document resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DidDocument'
      security: []
  '/agent/skills':
    get:
      summary: List Agent Skills
      description: Returns a list of all skills supported by the agent.
      operationId: listSkills
      responses:
        '200':
          description: List of skills
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillSummary'
                  total:
                    type: integer
                    example: 1
      security: []
  '/agent/skills/{skillId}':
    get:
      summary: Get Skill Details
      description: Returns detailed information about a specific skill.
      operationId: getSkillDetails
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
          description: The skill identifier (e.g., 'media-trend-analysis-agent-v1')
      responses:
        '200':
          description: Skill details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillDetail'
        '404':
          description: Skill not found
      security: []
  '/agent/skills/{skillId}/documentation':
    get:
      summary: Get Skill Documentation
      description: Returns human-readable documentation for a specific skill in Markdown or YAML format.
      operationId: getSkillDocumentation
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
          description: The skill identifier
      responses:
        '200':
          description: Skill documentation
          content:
            application/yaml:
              schema:
                type: string
                description: YAML formatted documentation
            text/markdown:
              schema:
                type: string
                description: Markdown formatted documentation
        '404':
          description: Skill not found
      security: []
  '/agent/negotiation':
    post:
      summary: Assess Task Capability
      description: Assess agent's capability to handle a task for negotiation.
      operationId: assessTaskCapability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NegotiationRequest'
      responses:
        '200':
          description: Capability assessment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegotiationResponse'
      security: []
  '/api/start-payment-session':
    post:
      summary: Start Payment Session
      description: Initiates a payment session for x402 protocol.
      operationId: startPaymentSession
      responses:
        '200':
          description: Payment session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSession'
      security:
        - bearerAuth: []
  '/api/payment-status/{sessionId}':
    get:
      summary: Get Payment Status
      description: Retrieves the status of a payment session.
      operationId: getPaymentStatus
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          description: The payment session identifier
        - name: wait
          in: query
          schema:
            type: boolean
            default: false
          description: Set to 'true' to wait for completion (up to 5 minutes)
      responses:
        '200':
          description: Payment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatus'
      security:
        - bearerAuth: []
  '/payment-capture':
    get:
      summary: Payment Capture Page
      description: Browser page to capture payment. Shows paywall UI and captures payment token.
      operationId: paymentCapture
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
          description: The payment session ID
      responses:
        '200':
          description: Payment capture page (HTML)
          content:
            text/html:
              schema:
                type: string
      security: []
  /health:
    get:
      summary: Health Check
      description: Health check endpoint for service monitoring.
      operationId: healthCheck
      responses:
        '200':
          description: Service health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
      security: []
  /metrics:
    get:
      summary: Prometheus Metrics
      description: Prometheus metrics endpoint for scraping.
      operationId: getMetrics
      responses:
        '200':
          description: Metrics in Prometheus text format
          content:
            text/plain:
              schema:
                type: string
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication. Include `Bearer <token>` in the Authorization header.
  schemas:
    # ----- JSON-RPC -----
    JsonRpcRequest:
      type: object
      required:
        - jsonrpc
        - method
        - id
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        method:
          type: string
          enum:
            - message/send
            - tasks/get
            - tasks/list
            - tasks/cancel
            - tasks/feedback
            - contexts/list
            - contexts/clear
        params:
          oneOf:
            - $ref: '#/components/schemas/MessageSendParams'
            - $ref: '#/components/schemas/TasksGetParams'
            - $ref: '#/components/schemas/TasksListParams'
            - $ref: '#/components/schemas/TasksCancelParams'
            - $ref: '#/components/schemas/TasksFeedbackParams'
            - $ref: '#/components/schemas/ContextsListParams'
            - $ref: '#/components/schemas/ContextsClearParams'
          discriminator:
            propertyName: method
            mapping:
              message/send: '#/components/schemas/MessageSendParams'
              tasks/get: '#/components/schemas/TasksGetParams'
              tasks/list: '#/components/schemas/TasksListParams'
              tasks/cancel: '#/components/schemas/TasksCancelParams'
              tasks/feedback: '#/components/schemas/TasksFeedbackParams'
              contexts/list: '#/components/schemas/ContextsListParams'
              contexts/clear: '#/components/schemas/ContextsClearParams'
        id:
          type: string
          format: uuid
          example: 'a61eab10-033f-41af-b187-c93cb1e91004'
    JsonRpcResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        id:
          type: string
          format: uuid
        result:
          oneOf:
            - $ref: '#/components/schemas/MessageSendResult'
            - $ref: '#/components/schemas/TasksGetResult'
            - $ref: '#/components/schemas/TasksListResult'
            - $ref: '#/components/schemas/TasksCancelResult'
            - $ref: '#/components/schemas/TasksFeedbackResult'
            - $ref: '#/components/schemas/ContextsListResult'
            - $ref: '#/components/schemas/ContextsClearResult'
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
      oneOf:
        - required: [result]
        - required: [error]
    # MessageSend
    MessageSendParams:
      type: object
      description: |
        Parameters for sending a message to create a new task.

        **This creates an asynchronous task** - the response will contain a task ID with state "submitted".
        You must poll the task using `tasks/get` to check when it completes.
      required:
        - message
      properties:
        message:
          $ref: '#/components/schemas/UserMessage'
        configuration:
          type: object
          description: Configuration options for the task execution
          properties:
            acceptedOutputModes:
              type: array
              description: Preferred output formats (e.g., "application/json" for structured data)
              items:
                type: string
                enum: ['application/json']
        skillId:
          type: string
          description: Optional skill ID to invoke (e.g., "media-trend-analysis-agent-v1")
    UserMessage:
      type: object
      description: |
        A message from the user to the agent.

        **Important:** All IDs (messageId, contextId, taskId) should be UUIDs generated by the client.
        Use the same contextId for related messages in a conversation.
      required:
        - role
        - parts
        - kind
        - messageId
        - contextId
        - taskId
      properties:
        role:
          type: string
          enum: ['user']
          description: Must be "user" for messages sent to the agent
        parts:
          type: array
          description: Array of message parts (currently only text is supported)
          items:
            $ref: '#/components/schemas/MessagePart'
        kind:
          type: string
          enum: ['message']
          description: Must be "message"
        messageId:
          type: string
          format: uuid
          description: Unique identifier for this message (client-generated UUID)
        contextId:
          type: string
          format: uuid
          description: Conversation context ID - use the same ID for related messages
        taskId:
          type: string
          format: uuid
          description: Task ID for this request (client-generated UUID) - use this to poll for results
        referenceTaskIds:
          type: array
          description: |
            Optional array of task IDs that this task depends on or references.

            **Use Cases:**
            - **Task Chaining**: Reference a completed task to build on its results
            - **Context Sharing**: Link related tasks in a workflow
            - **Dependency Management**: Indicate this task needs results from other tasks

            **Example Workflow:**
            ```
            Task1: "Analyze AI trends" → completes with trend report
            Task2: "Compare with EV trends" (referenceTaskIds: [Task1]) → uses Task1 results
            Task3: "Create summary report" (referenceTaskIds: [Task1, Task2]) → combines both
            ```

            The agent can access results from referenced tasks to provide better context.
          items:
            type: string
            format: uuid
        metadata:
          type: object
          description: Additional metadata, e.g., for payment
    MessagePart:
      type: object
      required:
        - kind
      properties:
        kind:
          type: string
          enum: ['text']
        text:
          type: string
    MessageSendResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        context_id:
          type: string
          format: uuid
        kind:
          type: string
          enum: ['task']
        status:
          $ref: '#/components/schemas/TaskStatus'
        history:
          type: array
          items:
            $ref: '#/components/schemas/HistoryMessage'
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
        metadata:
          type: object
    TaskStatus:
      type: object
      description: |
        Current status of a task.

        **Task Lifecycle:**

        **Non-Terminal States (Task Open, Mutable):**
        1. `submitted` - Task created, queued for processing
        2. `working` - Task is being processed
        3. `input-required` - Task needs additional input from user
        4. `auth-required` - Task needs authentication/authorization

        **Terminal States (Task Immutable, Final):**
        - `completed` - Task finished successfully (check artifacts for results)
        - `failed` - Task encountered an error
        - `canceled` - Task was canceled by user
        - `rejected` - Task was rejected (e.g., capability mismatch)

        **Important:** Once a task reaches a terminal state, it becomes immutable and cannot be restarted.
        To refine or continue work, create a new task with `referenceTaskIds` pointing to the completed task.
      required:
        - state
        - timestamp
      properties:
        state:
          type: string
          enum: [submitted, working, input-required, auth-required, completed, failed, canceled, rejected]
          description: |
            Current state of the task:

            **Non-Terminal (poll again):**
            - **submitted**: Task created, not yet started
            - **working**: Task is being processed
            - **input-required**: Task needs more information from user
            - **auth-required**: Task needs authentication/authorization

            **Terminal (final state):**
            - **completed**: Task finished - results are in artifacts array
            - **failed**: Task encountered an error (check history for details)
            - **canceled**: Task was canceled by user
            - **rejected**: Task was rejected (e.g., agent cannot handle this request)
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this state was reached
    HistoryMessage:
      type: object
      properties:
        kind:
          type: string
        role:
          type: string
        parts:
          type: array
          items:
            $ref: '#/components/schemas/MessagePart'
        task_id:
          type: string
          format: uuid
        context_id:
          type: string
          format: uuid
        message_id:
          type: string
          format: uuid
        reference_task_ids:
          type: array
          items:
            type: string
            format: uuid
    Artifact:
      type: object
      description: |
        A structured output artifact from a completed task.

        The artifact with `name: "result"` contains the final markdown report.
      properties:
        name:
          type: string
          description: Artifact name (typically "result" for the main output)
        parts:
          type: array
          description: Content parts of the artifact
          items:
            $ref: '#/components/schemas/MessagePart'
        artifact_id:
          type: string
          format: uuid
          description: Unique identifier for this artifact
        metadata:
          type: object
          description: Additional artifact metadata (may include signatures)
    # TasksGet
    TasksGetParams:
      type: object
      description: |
        Parameters for retrieving task details.

        **Use this method to poll for task completion** after calling `message/send`.
        Poll every 3-5 seconds until the state is "completed", "failed", or "canceled".
      required:
        - taskId
      properties:
        taskId:
          type: string
          format: uuid
          description: The task ID returned from message/send
    TasksGetResult:
      $ref: '#/components/schemas/Task'
    Task:
      type: object
      description: |
        A task represents an asynchronous operation.

        **When state is "completed":**
        - `history` contains the full conversation (user message + assistant response)
        - `artifacts` contains the structured results (check the "result" artifact for the markdown report)
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
        context_id:
          type: string
          format: uuid
          description: Conversation context this task belongs to
        kind:
          type: string
          enum: ['task']
          description: Always "task"
        status:
          $ref: '#/components/schemas/TaskStatus'
        history:
          type: array
          description: Conversation history (user messages and assistant responses)
          items:
            $ref: '#/components/schemas/HistoryMessage'
        artifacts:
          type: array
          description: |
            Structured results when task is completed.
            Look for the artifact with name "result" for the final markdown report.
          items:
            $ref: '#/components/schemas/Artifact'
        metadata:
          type: object
          description: Additional task metadata
    # TasksList
    TasksListParams:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        offset:
          type: integer
          minimum: 0
    TasksListResult:
      type: array
      items:
        $ref: '#/components/schemas/Task'
    # TasksCancel
    TasksCancelParams:
      type: object
      required:
        - taskId
      properties:
        taskId:
          type: string
          format: uuid
    TasksCancelResult:
      $ref: '#/components/schemas/Task'
    # TasksFeedback
    TasksFeedbackParams:
      type: object
      required:
        - taskId
        - feedback
      properties:
        taskId:
          type: string
          format: uuid
        feedback:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        metadata:
          type: object
    TasksFeedbackResult:
      type: object
      properties:
        success:
          type: boolean
    # ContextsList
    ContextsListParams:
      type: object
      properties:
        length:
          type: integer
          minimum: 1
          maximum: 100
    ContextsListResult:
      type: array
      items:
        type: object
        description: Conversation context object
    # ContextsClear
    ContextsClearParams:
      type: object
      required:
        - contextId
      properties:
        contextId:
          type: string
          format: uuid
    ContextsClearResult:
      type: object
      properties:
        success:
          type: boolean

    # ----- Agent Card -----
    AgentCard:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        url:
          type: string
        version:
          type: string
        protocolVersion:
          type: string
        skills:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              documentationPath:
                type: string
        capabilities:
          type: object
          properties:
            extensions:
              type: array
              items:
                type: object
            pushNotifications:
              type: boolean
            streaming:
              type: boolean
        kind:
          type: string
        numHistorySessions:
          type: integer
        extraData:
          type: object
        debugMode:
          type: boolean
        debugLevel:
          type: integer
        monitoring:
          type: boolean
        telemetry:
          type: boolean
        agentTrust:
          type: string
        defaultInputModes:
          type: array
          items:
            type: string
        defaultOutputModes:
          type: array
          items:
            type: string
      example:
        id: 'media-trend-analysis-agent-id'
        name: 'media-trend-analysis-agent'
        description: 'Agent that analyzes media trends using Exa semantic search and Firecrawl content extraction. Searches recent content (configurable lookback period, default 30 days), extracts key themes, identifies sources, and generates structured markdown reports.'
        url: 'http://localhost'
        version: '1.0.0'
        protocolVersion: '1.0.0'
        skills:
          - id: 'media-trend-analysis-agent-v1'
            name: 'media-trend-analysis'
            documentationPath: 'http://localhost/agent/skills/media-trend-analysis-agent-v1'
        capabilities:
          extensions:
            - uri: 'did:bindu:paras_at_getbindu_com:media-trend-analysis-agent:abc123'
              description: 'DID-based identity for media-trend-analysis-agent'
              required: false
              params:
                author: 'paras@getbindu.com'
                agent_name: 'media-trend-analysis-agent'
                agent_id: 'abc123'
          pushNotifications: false
          streaming: false
        kind: 'agent'
        numHistorySessions: 5
        extraData:
          created: 1771960617
          server_info: 'bindu Agent Server'
        debugMode: true
        debugLevel: 2
        monitoring: false
        telemetry: true
        agentTrust: 'low'
        defaultInputModes: ['application/json']
        defaultOutputModes: ['application/json']

    # ----- DID Document -----
    DidDocument:
      type: object
      properties:
        '@context':
          type: array
          items:
            type: string
        id:
          type: string
        created:
          type: string
          format: date-time
        authentication:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              controller:
                type: string
              publicKeyBase58:
                type: string
      example:
        '@context':
          - 'https://www.w3.org/ns/did/v1'
          - 'https://getbindu.com/ns/v1'
        id: 'did:bindu:paras_at_getbindu_com:media-trend-analysis-agent:abc123'
        created: '2026-02-24T19:15:13.581497+00:00'
        authentication:
          - id: 'did:bindu:paras_at_getbindu_com:media-trend-analysis-agent:abc123#key-1'
            type: 'Ed25519VerificationKey2020'
            controller: 'did:bindu:paras_at_getbindu_com:media-trend-analysis-agent:abc123'
            publicKeyBase58: 'G5GArDaptfioimLdNbMgCKCvxndXhpcS6VUkRFEds12B'

    # ----- Skills -----
    SkillSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        version:
          type: string
        tags:
          type: array
          items:
            type: string
        input_modes:
          type: array
          items:
            type: string
        output_modes:
          type: array
          items:
            type: string
        examples:
          type: array
          items:
            type: string
        documentation_path:
          type: string
      example:
        id: 'media-trend-analysis-agent-v1'
        name: 'media-trend-analysis'
        description: 'Agent that analyzes media trends using Exa semantic search and Firecrawl content extraction. Searches recent content (configurable lookback period, default 30 days), extracts key themes, identifies sources, and generates structured markdown reports.'
        version: '1.0.0'
        tags: ['media-trend-analysis', 'trend-tracking', 'content-analysis']
        input_modes: ['application/json']
        output_modes: ['application/json']
        examples:
          - 'Analyze the current media trends around generative AI over the past 7 days'
          - 'Track and analyze emerging media trends related to electric vehicle companies in the last 5 days'
          - 'What are the top emerging topics in technology sector this week?'
        documentation_path: 'media_trend_analysis_agent/skills/media-trend-analysis/skill.yaml'

    SkillDetail:
      allOf:
        - $ref: '#/components/schemas/SkillSummary'
        - type: object
          properties:
            author:
              type: string
            capabilities_detail:
              type: object
              properties:
                primary_capability:
                  type: object
                  properties:
                    supported:
                      type: boolean
                    description:
                      type: string
                    features:
                      type: array
                      items:
                        type: string
                    limitations:
                      type: string
                secondary_capability:
                  type: object
                  properties:
                    supported:
                      type: boolean
                    planned_version:
                      type: string
                    description:
                      type: string
            requirements:
              type: object
              properties:
                packages:
                  type: array
                  items:
                    type: string
                system:
                  type: array
                  items:
                    type: string
                min_memory_mb:
                  type: integer
            performance:
              type: object
              properties:
                avg_processing_time_ms:
                  type: integer
                max_concurrent_requests:
                  type: integer
                memory_per_request_mb:
                  type: integer
                scalability:
                  type: string
            allowed_tools:
              type: array
              items:
                type: string
            documentation:
              type: object
              properties:
                overview:
                  type: string
                use_cases:
                  type: object
                  properties:
                    when_to_use:
                      type: array
                      items:
                        type: string
                    when_not_to_use:
                      type: array
                      items:
                        type: string
                input_structure:
                  type: string
                output_format:
                  type: string
                error_handling:
                  type: array
                  items:
                    type: string
                examples:
                  type: array
                  items:
                    type: object
                best_practices:
                  type: object
                installation:
                  type: string
                versioning:
                  type: array
                  items:
                    type: object
            assessment:
              type: object
              properties:
                keywords:
                  type: array
                  items:
                    type: string
                specializations:
                  type: array
                  items:
                    type: object
                anti_patterns:
                  type: array
                  items:
                    type: string
                complexity_indicators:
                  type: object
            has_documentation:
              type: boolean
      example:
        id: 'media-trend-analysis-agent-v1'
        name: 'media-trend-analysis'
        description: 'Agent that analyzes media trends using Exa semantic search and Firecrawl content extraction. Searches recent content (configurable lookback period, default 30 days), extracts key themes, identifies sources, and generates structured markdown reports.'
        tags: ['media-trend-analysis', 'trend-tracking', 'content-analysis']
        input_modes: ['application/json']
        output_modes: ['application/json']
        version: '1.0.0'
        author: 'paras@getbindu.com'
        examples:
          - 'Analyze the current media trends around generative AI over the past 7 days'
          - 'Track and analyze emerging media trends related to electric vehicle companies in the last 5 days'
          - 'What are the top emerging topics in technology sector this week?'
        capabilities_detail:
          primary_capability:
            supported: true
            description: 'Searches and analyzes media content using Exa and Firecrawl'
            features:
              - 'Semantic search via ExaTools with configurable date range'
              - 'Content extraction via FirecrawlTools when search results are insufficient'
              - 'Structured markdown report generation with sections: Executive Summary, Trend Analysis, Source Analysis, Actionable Insights, Future Predictions, References'
              - 'Datetime context included in analysis'
            limitations: 'Date range limited by DAYS_BACK environment variable (default 30 days). Firecrawl scraping only triggered when fewer than 2 sources found. No built-in sentiment scoring or virality metrics.'
          secondary_capability:
            supported: false
            planned_version: null
            description: 'Not supported by code'
        requirements:
          packages:
            - 'agno'
            - 'exa-py'
            - 'firecrawl-py'
            - 'bindu'
            - 'python-dotenv'
          system:
            - 'Python 3.12+'
          min_memory_mb: 512
        performance:
          avg_processing_time_ms: null
          max_concurrent_requests: null
          memory_per_request_mb: null
          scalability: null
        allowed_tools:
          - 'ExaTools'
          - 'FirecrawlTools'
        documentation:
          overview: 'Agent that analyzes media trends using Exa semantic search and Firecrawl content extraction. Uses Agno framework with OpenAI GPT-4o or OpenRouter models. Generates structured markdown reports with trend analysis, source identification, and insights. Supports configurable lookback period via DAYS_BACK environment variable (default 30 days).'
          use_cases:
            when_to_use:
              - 'Analyzing recent media trends on specific topics'
              - 'Identifying key sources and themes in media coverage'
              - 'Generating structured trend reports with actionable insights'
            when_not_to_use:
              - 'Real-time streaming analysis'
              - 'Historical data beyond configured lookback period'
              - 'Automated sentiment scoring (agent provides qualitative analysis only)'
          input_structure: |
            JSON-RPC 2.0 message with user query in parts array.

            Example:
            {
              "jsonrpc": "2.0",
              "method": "message/send",
              "params": {
                "message": {
                  "role": "user",
                  "parts": [
                    {
                      "kind": "text",
                      "text": "Analyze emerging media trends related to electric vehicles over the past 7 days."
                    }
                  ],
                  "kind": "message",
                  "messageId": "0c3e9e4f-57a9-41e8-b187-d93cb1e40401",
                  "contextId": "0c3e9e4f-57a9-41e8-b187-d93cb1e40402",
                  "taskId": "0c3e9e4f-57a9-41e8-b187-d93cb1e40403"
                },
                "skillId": "media-trend-analysis-agent-v1",
                "configuration": {
                  "acceptedOutputModes": ["application/json"]
                }
              },
              "id": "0c3e9e4f-57a9-41e8-b187-d93cb1e40404"
            }
          output_format: |
            JSON-RPC 2.0 result with task history and artifacts containing markdown summary.

            Success Response:
            {
              "jsonrpc": "2.0",
              "id": "0c3e9e4f-57a9-41e8-b187-d93cb1e40404",
              "result": {
                "id": "0c3e9e4f-57a9-41e8-b187-d93cb1e40403",
                "context_id": "0c3e9e4f-57a9-41e8-b187-d93cb1e40402",
                "kind": "task",
                "status": {
                  "state": "completed",
                  "timestamp": "2026-02-25T17:59:47.889596+00:00"
                },
                "history": [
                  {
                    "kind": "message",
                    "role": "user",
                    "parts": [{"kind": "text", "text": "Analyze emerging media trends related to electric vehicles over the past 7 days."}]
                  },
                  {
                    "kind": "message",
                    "role": "assistant",
                    "parts": [{"kind": "text", "text": "# Media Trend Analysis Report..."}]
                  }
                ],
                "artifacts": [
                  {
                    "artifact_id": "unique_id",
                    "name": "result",
                    "parts": [{"kind": "text", "text": "Markdown formatted analysis report"}]
                  }
                ]
              }
            }
          error_handling:
            - 'Missing EXA_API_KEY: Raises ExaKeyError with message directing to https://exa.ai'
            - 'Missing FIRECRAWL_API_KEY: Raises FirecrawlKeyError with message directing to https://firecrawl.dev'
            - 'Missing LLM API key: Raises ValueError if neither OPENAI_API_KEY nor OPENROUTER_API_KEY provided'
            - 'Agent errors: Propagated from Agno framework and underlying tools'
          examples:
            - title: 'Electric Vehicles Trend Analysis'
              input:
                parts:
                  - kind: 'text'
                    text: 'Analyze emerging media trends related to electric vehicles over the past 7 days.'
              output:
                text: |
                  # Media Trend Analysis Report

                  ## Executive Summary
                  Over the past 7 days, electric vehicle (EV) media coverage has focused on declining growth, top brand mentions, shifts in consumer sentiment, and geographic variances in market performance.

                  ## Trend Analysis
                  ### Volume Metrics
                  - Peak discussion periods: February 13 - February 20, 2026
                  - Growth rate: Not available

                  ## Source Analysis
                  ### Top Sources
                  1. [EV Volumes](https://ev-volumes.com/)
                  2. [The EV Network](https://www.theevnetwork.com/news/february-shows-a-growing-car-market-overall-but-evs-fall-away-versus-last-year/)

                  ## Actionable Insights
                  1. Sentiment towards EVs remains positive despite a sales dip.
                     - Evidence: JD Power reports indicate highest satisfaction among BEV owners since 2021.
                     - Recommended action: PR campaigns should emphasize user satisfaction.

                  ## Future Predictions
                  1. Growth stabilization expected as infrastructure expands.

                  ## References
                  1. [EV Volumes - 2026 EV Statistics](https://ev-volumes.com/)
          best_practices:
            for_developers:
              - 'Agent uses async initialization with lock to prevent race conditions'
              - 'Handler function performs lazy initialization on first call'
              - 'Set DAYS_BACK environment variable to control lookback period (default 30 days)'
              - 'Choose LLM provider via OPENAI_API_KEY or OPENROUTER_API_KEY + MODEL_NAME'
            for_orchestrators:
              - 'Route media trend analysis queries to this skill'
              - 'Task follows async pattern: submit returns submitted state, poll with tasks/get until completed'
              - 'Ensure EXA_API_KEY and FIRECRAWL_API_KEY are provided'
              - 'Monitor API usage for Exa and Firecrawl services'
          installation: |
            Install dependencies and run agent.

            Required environment variables:
            - EXA_API_KEY (required)
            - FIRECRAWL_API_KEY (required)
            - OPENAI_API_KEY or OPENROUTER_API_KEY (one required)
            - MODEL_NAME (optional, default: openai/gpt-4o)
            - DAYS_BACK (optional, default: 30)

            Run:
            python -m media_trend_analysis_agent

            Server runs on http://127.0.0.1:3773 by default (configurable via agent_config.json)
          versioning:
            - version: '1.0.0'
              date: '2026-01-11'
              changes: 'Initial release with Exa and Firecrawl integration'
        assessment:
          keywords:
            - 'media'
            - 'trend'
            - 'analysis'
            - 'emerging'
            - 'coverage'
            - 'sources'
          specializations:
            - domain: 'media-analysis'
              confidence_boost: 0.8
            - domain: 'trend-tracking'
              confidence_boost: 0.7
          anti_patterns:
            - 'Real-time streaming or chat'
            - 'Historical data beyond DAYS_BACK period'
            - 'Image or video content analysis'
            - 'Code generation or debugging'
            - 'Mathematical calculations'
            - 'Automated sentiment scoring (provides qualitative analysis only)'
          complexity_indicators:
            simple:
              - 'Analyze media trends on [topic]'
              - 'What are emerging trends in [domain]'
              - 'Identify key sources discussing [topic]'
            medium:
              - 'Track media trends across multiple platforms'
              - 'Compare coverage between different topics'
              - 'Identify influencers and authoritative sources'
            complex:
              - 'Multi-topic correlation analysis (agent attempts but may require multiple queries)'
              - 'Long-term trend forecasting (limited by lookback period)'
        has_documentation: true

    # ----- Negotiation -----
    NegotiationRequest:
      type: object
      required:
        - task_summary
      properties:
        task_summary:
          type: string
          maxLength: 10000
        task_details:
          type: string
        input_mime_types:
          type: array
          items:
            type: string
        output_mime_types:
          type: array
          items:
            type: string
        max_latency_ms:
          type: integer
        max_cost_amount:
          type: number
          format: float
        required_tools:
          type: array
          items:
            type: string
        forbidden_tools:
          type: array
          items:
            type: string
        min_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
        weights:
          type: object
          properties:
            skill_match:
              type: number
              format: float
            io_compatibility:
              type: number
              format: float
            performance:
              type: number
              format: float
            load:
              type: number
              format: float
            cost:
              type: number
              format: float
      example:
        task_summary: 'Analyze media trends around AI regulation'
        task_details: 'User needs analysis of recent media coverage on AI regulation'
        input_mime_types: ['application/json']
        output_mime_types: ['application/json']
        max_latency_ms: 30000
        max_cost_amount: 0.01
        required_tools: []
        forbidden_tools: []
        min_score: 0.5
        weights:
          skill_match: 0.55
          io_compatibility: 0.20
          performance: 0.15
          load: 0.05
          cost: 0.05
    NegotiationResponse:
      type: object
      properties:
        accepted:
          type: boolean
        score:
          type: number
          format: float
        confidence:
          type: number
          format: float
        rejection_reason:
          type: string
        queue_depth:
          type: integer
        subscores:
          type: object
          properties:
            skill_match:
              type: number
              format: float
            io_compatibility:
              type: number
              format: float
            load:
              type: number
              format: float
            cost:
              type: number
              format: float
      example:
        accepted: true
        score: 0.85
        confidence: 0.9
        rejection_reason: null
        queue_depth: 0
        subscores:
          skill_match: 0.9
          io_compatibility: 1
          load: 1
          cost: 1

    # ----- Payment -----
    PaymentSession:
      type: object
      properties:
        sessionId:
          type: string
        requirements:
          type: object
        url:
          type: string
        expiresAt:
          type: string
          format: date-time
    PaymentStatus:
      type: object
      properties:
        status:
          type: string
          enum: [pending, completed, failed]
        paymentToken:
          type: string
        expiresAt:
          type: string
          format: date-time

    # ----- Health -----
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, error]
        ready:
          type: boolean
        uptime_seconds:
          type: number
        version:
          type: string
        health:
          type: string
        runtime:
          type: object
          properties:
            storage_backend:
              type: string
            scheduler_backend:
              type: string
            task_manager_running:
              type: boolean
            strict_ready:
              type: boolean
        application:
          type: object
          properties:
            penguin_id:
              type: string
            agent_did:
              type: string
        system:
          type: object
          properties:
            python_version:
              type: string
            platform:
              type: string
            platform_release:
              type: string
            environment:
              type: string
      example:
        status: 'ok'
        ready: true
        uptime_seconds: 31.43
        version: '2026.9.2.2'
        health: 'healthy'
        runtime:
          storage_backend: 'PostgresStorage'
          scheduler_backend: 'RedisScheduler'
          task_manager_running: true
          strict_ready: true
        application:
          penguin_id: 'media-trend-analysis-agent-id'
          agent_did: 'did:bindu:paras_at_getbindu_com:media-trend-analysis-agent:abc123'
        system:
          python_version: '3.12.12'
          platform: 'Linux'
          platform_release: '6.8.0-90-generic'
          environment: 'development'
